@import '../styles/imports.scss';

.popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    background-color: $white;
    box-shadow: 0px 0px 22px gray;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 1rem;
}
@media(min-width: $tablet_size) {
  
}

@media(min-width: $desktop_size) {

}