@font-face {
    font-family: "Roboto-Bold";
    src: url('../assets/Roboto-Bold.ttf'),
}

@font-face {
    font-family: "Roboto-Light";
    src: url('../assets/Roboto-Light.ttf'),
}

@font-face {
    font-family: "Roboto-Medium";
    src: url('../assets/Roboto-Medium.ttf'),
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('../assets/Roboto-Regular.ttf'),
}
