@import '../../styles/imports.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $Bone;
    height: 3.5rem;
    padding: 0 1rem 0 1rem;

    .logo-container {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $black;

        .logo-text {
            font-family: $font-medium;
            font-size: 1.2em;
            padding-inline-start: .6em;
        }
    }

    .menu {
      
        .menu-icon {
            width: 2em;
        }
    }
}

@media (max-width: $tablet_size) {

}

@media (max-width: $desktop) {

}
