@import '../../styles/imports.scss';

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $Bone;
    overflow-x: hidden;
}

@media(min-width: $tablet_size) {
    
}

@media(min-width: $desktop_size) {
    .layout {
        height: 100vh;
        background-color: $Bone;
        .bottom-background {
            display: none;
        }
    
    }
}